{% extends 'base.html' %}
{% load static %}

{% block title %}About DataRide{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">About DataRide</h1>
        <h2 class="subtitle">
            Discover the Story Behind Our Innovative Bike Data Platform
        </h2>
        <div class="content">
            <p>
            DataRide is dedicated to transforming the way city bike trip data is accessed and analyzed. Our platform provides a user-friendly interface to query and visualize bike trip data, offering valuable insights into urban transportation trends.
            </p>
            <p>
            Our mission is to empower city planners, researchers, and cycling enthusiasts with data-driven insights that can lead to more efficient and sustainable urban mobility solutions.
            </p>
            <p>
            Whether you're looking to study transportation patterns or simply curious about city bike usage, DataRide offers the tools and data you need to explore and understand urban cycling.
            </p>
            <p>
            Join us on our journey to make city bike data more accessible and actionable for everyone.
            </p>
        </div>

        <h2 class="title">Key Features</h2>
            <ul>
                <li>- Interactive API for querying bike trip data</li>
                <li>- User-friendly data visualization tools</li>
                <li>- Comprehensive data coverage including station details, trip duration, and more</li>
                <li>- Insights into urban mobility and cycling trends</li>
            </ul>

        <h2 class="title">About the Developer</h2>
        <p class="developer-description">
            Dolores Crazover openly shares her work and development journey on her <a href="https://github.com/DoloresCode" target="_blank" style="color: #FA0644; font-weight: bold;">GitHub</a> page. She welcomes you to connect with her on <a href="https://www.linkedin.com/in/dolores-crazover/" target="_blank" style="color: #FA0644; font-weight: bold;">LinkedIn</a> to know more about her professional endeavors. For <strong style="color: #FA0644;">Full Stack Software Development opportunities</strong>, questions, or if you would like to discuss potential collaborations, please don't hesitate to reach out to Dolores via email <a href="mailto:dcrazover@gmail.com" style="color: #FA0644; font-weight: bold;">here</a>. She looks forward to helping individuals and teams accomplish more every day with DataRide.
        </p>
    </div>
</section>

{% endblock %}
