body {
    font-family: 'San Francisco', 'Arial', sans-serif;
    background-color: #ffffff;
    color: #121212;
    min-height: 100vh;
}

/* Navbar */
.logo-navb {
    width: 30px; 
    height: auto; 
}

/* Home Page */
.image-home-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* About Page */

.title {
    margin-top: 1.5rem;
}

/* API Results */

.api-title-part {
    margin-top: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 2em;
}

.api-title-result-ST-ID {
    margin-top: 1.5rem;
    color: #151cdb;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 1.5em;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
    
}
.api-results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

.api-results-table th,
.api-results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.api-results-table th {
    background-color: #040404;
    color: white;
}

.api-results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.api-results-table tr:hover {
    background-color: #ddd;
}

.api-results-table td {
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {
    .api-results-table {
        display: block;
        overflow-x: auto;
    }
}

/* API Tester */

.api-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.api-tester-form {
    width: 100%;
    max-width: 600px; 
    margin: auto;
}

.api-tester-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.api-tester-form input[type="number"],
.api-tester-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box; 
}

.api-tester-form input[type="number"] {
    border: 1px solid #ddd;
}

.api-tester-form input[type="submit"] {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.api-tester-form input[type="submit"]:hover {
    background-color: #004494;
}


@media (max-width: 600px) {
    .api-tester-form input[type="number"],
    .api-tester-form input[type="submit"] {
        padding: 15px;
    }

    .api-tester-form input[type="submit"] {
        font-size: 1.1em;
    }
}
