body {
    font-family: 'San Francisco', 'Arial', sans-serif;
    background-color: #ffffff;
    color: #121212;
    min-height: 100vh;
}

/* Navbar */
.logo-navb {
    width: 30px; 
    height: auto; 
}

/* Home Page */
.image-home-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* About Page */

.title {
    margin-top: 1.5rem;
}

/* API Results */

.table-wrapper {
    overflow-x: auto;
    width: 100%;
    
}
.api-results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}

.api-results-table th,
.api-results-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.api-results-table th {
    background-color: #040404;
    color: white;
}

.api-results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.api-results-table tr:hover {
    background-color: #ddd;
}

.api-results-table td {
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {
    .api-results-table {
        display: block;
        overflow-x: auto;
    }
}
